<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
</head>
<body>
    <div class="container">
    <form action="/login" method="post">
        <h1>Login to your account</h1>
        <label for="">Email</label>
        <input type="text" name="username" id="username">
        <label for="">Password</label>
        <input type="password" name="password" id="password" >
        <button type="submit">Login</button>
        <a href="/register-page">Create Account</a>
    </form>
    <div class="txt">
        <h1>THE GOAL OF LIFE IS <br> LIVING  IN AGGREMENT <br> WITH NATURE</h1>
    </div>
</div>
</body>
</html>