<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <script src="https://kit.fontawesome.com/43aef3af94.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid navbarContainer ">
        <!-- Navbar -->

        <nav>
            <div class="navContainer">
                <div class="logo">
                    <img src="/images/Travelers.png" alt="">
                </div>

                <div class="navMain">
                    <div class="navTabs">
                        <a href="/">Home</a>
                        <a href="">Blogs</a>
                        <a href="">Review</a>
                        <a href="">Contact</a>
                        <a href="">Explore</a>
                    </div>
                    
                    <div class="navRight">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      <a href="/account"><i class="fa-regular fa-user"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </div>
</body>
</html>